{% extends 'base.html' %}

{% block content %}
<script>
function displayPage()
{
    var ip = document.getElementById('DateLookup');
    document.getElementById('LookerUpper').innerHTML = ip.value;
    document.getElementById('LookerUpper').href="/burnerdetail/"+ip.value;
    //Or to open in new tab on submit button directly 
    var url="/burnerdetail/"+ip.value;
}
</script>
<body>
<br>
<table>
    <tr>
        <td>Please use date format yyyy-mm-dd</td>
    </tr>
    <tr>
        <td>Lookup what day? </td>
        <td><input type='text' id='DateLookup' placeholder='Day' /></td>
        <td><input type='button' value='Request' onclick='displayPage()' value='Submit' /></td>
    </tr>
</table>
<div><a href="" id="LookerUpper" target="_blank" ></a></div>
</body>
{% endblock %}