{% extends 'base.html' %}

{% block content %}
<h1> About page </h1>
<p>This is a mockup for a project to help at work.</p>
<br>
<p>Watsontown Brick company, 86 portmay road.</p>
<br>
<p>Watsontown, Pennsylvania</p>

<!-- <ul>
{% for my_sub_item in my_list %}
    {% if my_sub_item == 54 %}
        <li>{{ forloop.counter }} - {{ my_sub_item|add:22 }}</li>
    {% else %}
        <li>{{ forloop.counter }} - {{ my_sub_item }}</li>
    {% endif %}
{% endfor %}
</ul> -->
{% endblock content %}